@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    background: url(img/bg.png), url(img/bg-2.png), #E5E5E5;
    background-repeat: no-repeat;
    background-size: 45% 45%, 15%;
    background-position: top left, bottom right;
    font-family: Roboto;
}
h3 {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #333;
    padding-top: 16px;
    padding-bottom: 8px;
}
header {
    width: 100%;
    height: 172px;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 65px;
}
.wrap {
    width: 836px;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 11;
}
section .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row{
     display: flex;
     justify-self: end;
     justify-content: end;
     margin-right: 250px;
     margin-bottom: 50px;
     padding-right: 40px;
}
.sort_col{
     background-color: #3D8EDA;
     margin-right: 10px;
}
.sort_row{
     background-color: #3D8EDA;
     margin-right: 10px;
}
.header_wrap_logo, .header_wrap_content {
   float: left;
}
.header_wrap_logo img {
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 80px;
}
.wrap_post {
    position: relative;
    overflow: hidden;
    width: 204px;
    height: 342px;
    background-color: #fff;
    margin-bottom: 10px;
}
.wrap_post img {
    display: block;
    width: 100%;
    height: auto;
}
.wrap_post div { 
     float: left;
     padding: 10px;
}
.wrap_post div span img {
    width: 15px;
    height: auto;
}
.wrap_post div span {
    font-size: 14px;
    margin-right: 10px;
    display: block;
}
.wrap_post div:nth-child(3) {
    float: right;
}
.wrap_post div:nth-child(4) {
    width: 100%;
    display: block;
    position: relative;
    margin-top: -20px;
}
.wrap_post div:nth-child(4) h3 {
   font-size: 14px;
   float: left;
}
.wrap_post div:nth-child(4) span {
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;
}
.wrap_post div span img {
    float: left;
}
.wrap_post div span img {
    margin-right: 8px;
}
button {
    width: 110px;
    height: 26px;
    border: 1px solid #929292;
    box-sizing: border-box;
    border-radius: 14px;
    margin-left: calc(50% - 55px);
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.03em;
    color: #929292;
    cursor: pointer;
}
button:hover {
    opacity: 0.6;
}
@media (max-width: 900px) {
    body {
        background: none;
        background-color: #E5E5E5;
    }
   .wrap {
       width: 90%;
       margin: 0 auto;
   }
   section .wrap {
    justify-content: flex-start;
}
    .wrap_post {
        margin-right: 10px;
    }
}
@media (max-width: 600px) {
    .wrap_post {
        width: 100%;
        height: auto;
    }
}
